In [2]:
%run task_setup.ipynb

Foundation: 2.11.029
Transition: 3.02.018

In [3]:
sample_size = 10000
seed = None

-------------------------
## Flu Risk Builder

In [4]:
builder = SyntheticBuilder.from_env('flu_risk')

### Run the Pipeline  save the Schema and show the Canonical Report

In [5]:
# set the version
builder.set_version(VERSION)

# run the pipeline
builder.run_component_pipeline(size=sample_size)

# report
builder.canonical_report(builder.load_persist_canonical(), stylise=True)

### Save Reports

In [6]:
builder.save_report_canonical(reports=builder.REPORT_INTENT, report_canonical=builder.report_intent(stylise=False))
builder.save_report_canonical(reports=builder.REPORT_CATALOG, report_canonical=builder.report_column_catalog(stylise=False))

-------------------------
## Flu Risk Transition

In [7]:
tr = Transition.from_env('flu_risk')

In [8]:
# set the version
tr.set_version(VERSION)

# run the pipeline
tr.run_component_pipeline()

# report
tr.canonical_report(tr.load_persist_canonical(), stylise=True)

### Save Reports

In [10]:
tr.save_report_canonical(reports=tr.REPORT_DICTIONARY, report_canonical=tr.canonical_report(tr.load_persist_canonical(), stylise=False))
tr.save_report_canonical(reports=tr.REPORT_SUMMARY, report_canonical=tr.report_quality_summary(stylise=False))
tr.save_report_canonical(reports=tr.REPORT_PROVENANCE, report_canonical=tr.report_provenance(stylise=False))
tr.save_report_canonical(reports=tr.REPORT_FIELDS, report_canonical=tr.report_attributes(tr.load_persist_canonical(), stylise=False))