In [1]:
%run ../base_setup.ipynb

Foundation: 2.11.029
Transition: 3.02.026

In [2]:
# task grouping name
task_name = 'practitioners'

-------------------------
## Synthetic Builder

In [3]:
builder = SyntheticBuilder.from_env(task_name)

In [4]:
tools = builder.intent_model

In [5]:
builder.pm.reset_intents()
builder.pm_persist()

-----------
### Distribution elements

In [6]:
df = tools.model_sample_map(canonical="@empty", sample_map='us_healthcare_practitioner', column_name='practitioners')

## Run the Pipeline show the Canonical Report

In [7]:
# run the pipeline
builder.run_component_pipeline(size=1)

# report the stored schema
builder.canonical_report(builder.load_persist_canonical(), stylise=True)

-------------------------
-------------------------
## Members Transition

In [8]:
tr = Transition.from_env('practitioners')

In [9]:
tr.pm.reset_intents()
tr.pm_persist()

In [10]:
df = tr.load_source_canonical()

In [11]:
# clean the data
tr.cleaners.auto_clean_header(df, inplace=True)
tr.cleaners.auto_transition(df, inplace=True)

In [12]:
tr.add_notes(catalog='attributes', label='name', text='The name and title of the practitioner')
tr.add_notes(catalog='attributes', label='pcp_tax_id', text='The unique reference code for the practitioner')
tr.add_notes(catalog='attributes', label='state', text='The state where the practitioner is')
tr.add_notes(catalog='attributes', label='zipcode', text='The zipcode for the practitioner')
tr.add_notes(catalog='attributes', label='city', text='The city where the practitioner is')
tr.add_notes(catalog='attributes', label='address', text='The street address of the practitioner')

## Run the Pipeline  save the Schema and show the Schema Report

In [13]:
# run the pipeline
tr.run_component_pipeline()

# report the stored schema
tr.canonical_report(tr.load_persist_canonical(), stylise=True)

In [14]:
tr.report_attributes(tr.load_persist_canonical(), stylise=True)