In [7]:
%run ../base_setup.ipynb

Foundation: 2.11.029
Transition: 3.02.017

In [8]:
sample_size = 10000
seed = None

-------------------------
## Synthetic Builder

In [9]:
builder = SyntheticBuilder.from_env('members')

### Run the Pipeline  save the Schema and show the Canonical Report

In [10]:
# set the version
builder.set_version(VERSION)

# run the pipeline
builder.run_component_pipeline(size=sample_size)

# report
builder.canonical_report(builder.load_persist_canonical(), stylise=True)

### Save Reports

In [13]:
builder.save_report_canonical(reports=builder.REPORT_INTENT, report_canonical=builder.report_intent(stylise=False))
builder.save_report_canonical(reports=builder.REPORT_CATALOG, report_canonical=builder.report_column_catalog(stylise=False))

-------------------------
## Members Transition

In [14]:
tr = Transition.from_env('members')

In [15]:
# set the version
tr.set_version(VERSION)

# run the pipeline
tr.run_component_pipeline()

# report
tr.canonical_report(tr.load_persist_canonical(), stylise=True)

### Save Reports

In [16]:
tr.save_report_canonical(reports=tr.REPORT_DICTIONARY, report_canonical=tr.canonical_report(tr.load_persist_canonical(), stylise=False))
tr.save_report_canonical(reports=tr.REPORT_SUMMARY, report_canonical=tr.report_quality_summary(stylise=False))
tr.save_report_canonical(reports=tr.REPORT_PROVENANCE, report_canonical=tr.report_provenance(stylise=False))
tr.save_report_canonical(reports=tr.REPORT_FIELDS, report_canonical=tr.report_attributes(tr.load_persist_canonical(), stylise=False))

-------------------------
## Clinincal Transition

In [17]:
tr_cln = Transition.from_env('cln_members')

In [18]:
# set the version
tr_cln.set_version(VERSION)

# run the pipeline
tr_cln.run_component_pipeline()

# report
tr_cln.canonical_report(tr_cln.load_persist_canonical(), stylise=True)

### Save Reports

In [20]:
tr_cln.save_report_canonical(reports=tr_cln.REPORT_DICTIONARY, report_canonical=tr_cln.canonical_report(tr_cln.load_persist_canonical(), stylise=False))
tr_cln.save_report_canonical(reports=tr_cln.REPORT_SUMMARY, report_canonical=tr_cln.report_quality_summary(stylise=False))
tr_cln.save_report_canonical(reports=tr_cln.REPORT_PROVENANCE, report_canonical=tr_cln.report_provenance(stylise=False))
tr_cln.save_report_canonical(reports=tr_cln.REPORT_FIELDS, report_canonical=tr_cln.report_attributes(tr_cln.load_persist_canonical(), stylise=False))

-------------------------
## Preferences Transition

In [21]:
tr_prf = Transition.from_env('prf_members')

In [22]:
# set the version
tr_prf.set_version(VERSION)

# run the pipeline
tr_prf.run_component_pipeline()

# report
tr_prf.canonical_report(tr_prf.load_persist_canonical(), stylise=True)

### Save Reports

In [23]:
tr_prf.save_report_canonical(reports=tr_prf.REPORT_DICTIONARY, report_canonical=tr_prf.canonical_report(tr_prf.load_persist_canonical(), stylise=False))
tr_prf.save_report_canonical(reports=tr_prf.REPORT_SUMMARY, report_canonical=tr_prf.report_quality_summary(stylise=False))
tr_prf.save_report_canonical(reports=tr_prf.REPORT_PROVENANCE, report_canonical=tr_prf.report_provenance(stylise=False))
tr_prf.save_report_canonical(reports=tr_prf.REPORT_FIELDS, report_canonical=tr_prf.report_attributes(tr_prf.load_persist_canonical(), stylise=False))

-------------------------
## Insurnce Transition

In [24]:
tr_ins = Transition.from_env('ins_members')

In [25]:
# set the version
tr_ins.set_version(VERSION)

# run the pipeline
tr_ins.run_component_pipeline()

# report
tr_ins.canonical_report(tr_ins.load_persist_canonical(), stylise=True)

### Save Reports

In [26]:
tr_ins.save_report_canonical(reports=tr_ins.REPORT_DICTIONARY, report_canonical=tr_ins.canonical_report(tr_ins.load_persist_canonical(), stylise=False))
tr_ins.save_report_canonical(reports=tr_ins.REPORT_SUMMARY, report_canonical=tr_ins.report_quality_summary(stylise=False))
tr_ins.save_report_canonical(reports=tr_ins.REPORT_PROVENANCE, report_canonical=tr_ins.report_provenance(stylise=False))
tr_ins.save_report_canonical(reports=tr_ins.REPORT_FIELDS, report_canonical=tr_ins.report_attributes(tr_ins.load_persist_canonical(), stylise=False))