In [1]:
%run ../base_setup.ipynb

Foundation: 2.11.029
Transition: 3.02.026

In [2]:
sample_size = 10000
seed = None

-------------------------
## Synthetic Builder

In [3]:
builder = SyntheticBuilder.from_env('members')

### Run the Pipeline  save the Schema and show the Canonical Report

In [4]:
df = builder.load_persist_canonical()

In [5]:
# set the version
builder.set_version(VERSION)

# run the pipeline
builder.run_component_pipeline(size=sample_size)

#save schema
builder.save_canonical_schema()

# report
builder.canonical_report(builder.load_persist_canonical(), stylise=True)

### Save Reports

In [6]:
reports = [Commons.param2dict(report=builder.REPORT_CATALOG, file_format='csv', versioned=True)]
builder.save_report_canonical(reports=reports, report_canonical=builder.report_column_catalog(stylise=False))

-------------------------
## Members Transition

In [7]:
tr = Transition.from_env('members')

In [8]:
# set the version
tr.set_version(VERSION)

# run the pipeline
tr.run_component_pipeline()

#save the Schema
tr.save_canonical_schema()

# report
tr.canonical_report(tr.load_persist_canonical(), stylise=True)

### Save Reports

In [9]:
reports = [Commons.param2dict(report=tr.REPORT_FIELDS, file_format='csv', versioned=True),
           Commons.param2dict(report=tr.REPORT_DICTIONARY, file_format='csv', versioned=True)]
tr.save_report_canonical(reports=reports, report_canonical=tr.canonical_report(tr.load_persist_canonical(), stylise=False))

-------------------------
## Clinincal Transition

In [10]:
tr_cln = Transition.from_env('cln_members')

In [11]:
# set the version
tr_cln.set_version(VERSION)

# run the pipeline
tr_cln.run_component_pipeline()

# report
tr_cln.canonical_report(tr_cln.load_persist_canonical(), stylise=True)

### Save Reports

In [12]:
reports = [Commons.param2dict(report=tr.REPORT_FIELDS, file_format='csv', versioned=True),
           Commons.param2dict(report=tr.REPORT_DICTIONARY, file_format='csv', versioned=True)]
tr.save_report_canonical(reports=reports, report_canonical=tr.canonical_report(tr.load_persist_canonical(), stylise=False))

-------------------------
## Preferences Transition

In [13]:
tr_prf = Transition.from_env('prf_members')

In [14]:
# set the version
tr_prf.set_version(VERSION)

# run the pipeline
tr_prf.run_component_pipeline()

# report
tr_prf.canonical_report(tr_prf.load_persist_canonical(), stylise=True)

### Save Reports

In [15]:
reports = [Commons.param2dict(report=tr.REPORT_FIELDS, file_format='csv', versioned=True),
           Commons.param2dict(report=tr.REPORT_DICTIONARY, file_format='csv', versioned=True)]
tr.save_report_canonical(reports=reports, report_canonical=tr.canonical_report(tr.load_persist_canonical(), stylise=False))

-------------------------
## Insurnce Transition

In [16]:
tr_ins = Transition.from_env('ins_members')

In [17]:
# set the version
tr_ins.set_version(VERSION)

# run the pipeline
tr_ins.run_component_pipeline()

# report
tr_ins.canonical_report(tr_ins.load_persist_canonical(), stylise=True)

### Save Reports

In [18]:
reports = [Commons.param2dict(report=tr.REPORT_FIELDS, file_format='csv', versioned=True),
           Commons.param2dict(report=tr.REPORT_DICTIONARY, file_format='csv', versioned=True)]
tr.save_report_canonical(reports=reports, report_canonical=tr.canonical_report(tr.load_persist_canonical(), stylise=False))