In [1]:
%run ../base_setup.ipynb

Foundation: 2.11.018
Transition: 3.01.005
Engines   : 2.03.028

In [2]:
sample_size = 10000
seed = None

-------------------------
## Synthetic Builder

In [3]:
builder = SyntheticBuilder.from_env('practitioners')

### Run the Pipeline  save the Schema and show the Canonical Report

In [4]:
# set the version
builder.set_version(VERSION)

# run the pipeline
builder.run_synthetic_pipeline(size=sample_size)

# report
builder.canonical_report(builder.load_synthetic_canonical(), stylise=True)

### Save Reports

In [5]:
builder.save_report_canonical(report_connector_name=builder.REPORT_INTENT, report=builder.report_intent(stylise=False))
builder.save_report_canonical(report_connector_name=builder.REPORT_CATALOG, report=builder.report_column_catalog(stylise=False))

-------------------------
## Members Transition

In [6]:
tr = Transition.from_env('practitioners')

In [7]:
# set the version
tr.set_version(VERSION)

# run the pipeline
tr.run_transition_pipeline()

# report
tr.canonical_report(tr.load_clean_canonical(), stylise=True)

### Save Reports

In [8]:
tr.save_report_canonical(report_connector_name=tr.REPORT_DICTIONARY, report=tr.canonical_report(tr.load_clean_canonical(), stylise=False))
tr.save_report_canonical(report_connector_name=tr.REPORT_SUMMARY, report=tr.report_quality_summary(stylise=False))
tr.save_report_canonical(report_connector_name=tr.REPORT_PROVENANCE, report=tr.report_provenance(stylise=False))
tr.save_report_canonical(report_connector_name=tr.REPORT_FIELDS, report=tr.report_attributes(tr.load_clean_canonical(), stylise=False))