In [1]:
%run task_setup.ipynb

Foundation: 2.11.030
Transition: 3.02.029

-------------------------
## Transition

In [2]:
for task in ['members', 'cln_members', 'ins_members', 'prf_members', 'flu_risk']:
    tr = Transition.from_env(task)
    tr.pm.reset_intents()
    tr.pm_persist()
    df = tr.load_source_canonical()
    
    # code clean
    tr.cleaners.auto_clean_header(df, inplace=True)
    tr.cleaners.auto_transition(df, inplace=True)
    if task == 'members':
        tr.cleaners.to_remove(df, headers=['email', 'state_abbr', 'address'], inplace=True)
        tr.cleaners.to_str_type(df, headers='zipcode', fixed_len_pad='0', use_string_type=True, inplace=True)
    
    # run pipeline
    tr.run_component_pipeline()

In [3]:
tr = Transition.from_env('members')
tr.canonical_report(tr.load_persist_canonical())

-------------------------
## Wrangle

In [4]:
wr = Wrangle.from_env('profile')
tools = wr.tools

In [5]:
wr.pm.reset_intents()
wr.pm_persist()

#### Code Edit

In [6]:
# get the source
df = wr.load_source_canonical()

In [7]:
# role through the other connectors and merge
for task in ['cln_members', 'ins_members', 'prf_members', 'flu_risk']:
    df = tools.model_merge(df, other=task, on='member_id', how='left', column_name=f'{task}_merge')
    wr.add_column_description(column_name=f'{task}_merge', description=f"The merge of the {task} dataset into the profile on member_id")

#### Run Pipeline

In [8]:
wr.run_component_pipeline()

In [9]:
wr.canonical_report(wr.load_persist_canonical())

-------------------------
## Transition

In [10]:
tr = Transition.from_env('profile')

In [11]:
tr.pm.reset_intents()
tr.pm_persist()

In [12]:
df = tr.load_source_canonical()

#### Run Pipeline

In [13]:
tr.run_component_pipeline()

In [14]:
tr.canonical_report(tr.load_persist_canonical())